body {
    color: #212121;
}

.category-title {
    width: 70%;
    border-bottom: 1px solid #90A4AE;
    color: #37474F;
}

.todo {
    font-weight: bold;
    background-color: red;
}

.temp {
    font-weight: bold;
    color: #E91E63;
}

table {
    border: 1px solid #B0BEC5;
}

td {
    padding: 2px 5px;
}

th {
    padding: 2px 5px; 
}

.table-vertical-header {
    padding-right: 60px;
    font-weight: 500;
}

.global-table {
    margin-left: 60px;
}

.host-global-table {
    margin-left: 30px;
}

.status-table {
    margin-left: 60px;
}

.status-up {
    background-color: #4CAF50;
    color: #ECEFF1;
}

.status-down {
    background-color: #f44336;
    color: #ECEFF1;
}

.detail-host {
    padding-left: 30px;
    color: #455A64;
}

/* .global-table-col-l {
    width: 60%;
}

.global-table-col-s {
    width: 40%;
} */